<style>
        :host {
          font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
          font-size: 14px;
          color: #333;
          box-sizing: border-box;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }
      
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          margin: 8px 0;
        }
      
        p {
          margin: 0;
        }
      
        .spacer {
          flex: 1;
        }
      
        .title {
          margin-left: 20px;
        }
      
        .toolbar {
          height: 60px;
          display: flex;
          align-items: center;
          background-color: #1976d2;
          color: white;
          font-weight: 600;
        }
      
        .board {
          vertical-align: auto;
          width: 200px;
          margin-left: -8px;
          height: 100%;
          display: flex;
          align-items: left;
          background-color: #403E3E;
          color: white;
          font-weight: 600;
        }
      
        .example-button-row button,
      .example-button-row a {
        margin-right: 8px;
      }
      
        .content {
          display: flex;
          margin: 32px auto;
          padding: 0 16px;
          max-width: 960px;
          flex-direction: column;
          align-items: center;
        }
      
      
        @media screen and (max-width: 575px) {
          svg#rocket-smoke {
            display: none;
            visibility: hidden;
          }
        }
      </style>
      
      <!-- Toolbar -->
      <div class="toolbar" role="banner">
          <div class="title">
          <span> {{ title }} </span>
        </div>
      </div>
      
     <div class="board">
            <p *ngFor="let channel of channels">
                    <a [routerLink]="['/channels', channel.id]"> {{channel.name}} </a> 
                </p>
                        
                
      </div>
      <router-outlet></router-outlet>
            <div class="content" role="main">
      
          <form class="example-form">
            <mat-form-field class="example-full-width">
             <textarea matInput placeholder="Message"></textarea>
            </mat-form-field>
          </form>
      
      </div>

